*{
  font-family: Poppins;
  /* padding: 0; */
  /* margin: 0; */
  /* transition: 0.5s; */
  /* border: 1px solid red; */
}

body {
  /* background: url("./Images/5147.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul{
  list-style: none;
}

.button-ul {
  display: flex;
  justify-content: space-between;
}

.button-ul button{
  font-family: Poppins;
}

.login-button{
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  color: orange;
  font-weight: bold;
}

.login-button:hover {
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
}
.sign-up-button {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(74, 74, 231);
  color: white;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgb(74, 74, 231);
}

.sign-up-button:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
  background: none;
  color: rgb(74, 74, 231);
  font-weight: bold;
}
.middle-ul {
  font-family: Poppins;
  display: flex;
  align-items: center;
}

.middle-ul li{
  padding: 0 2.5rem;
  transition: 0.3s;
}

.middle-ul li:hover {
  transform: scale(1.4);
  transition: 0.3s;
  cursor: pointer;
  color: orange;
}
.logo-heading {
  font-family: Poppins;
  color: rgb(74, 74, 231);
  transition: 0.3s;
  font-size: 1.8rem;
}

.logo-heading:hover {
  transform: scale(1.4);
  transition: 0.3s;
  cursor: pointer;
  color: orange;
}

.logo-heading span {
  color: orange;
  transition: 0.3s;
}

.logo-heading span:hover {
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
  color: rgb(74, 74, 231);
}

.upload-area {
  background: rgb(238, 251, 255);
  margin: 0 5rem;
  border-radius: 2rem;
}

.upload-head {
  font-size: 1.5rem;
  color: rgb(74, 74, 231);
  padding: 3rem 0;
  /* border: 1px solid red; */
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-images{
  width: 25%;
}

.endside-images{
  width: 25%;
}

.endside-images img {
  width: 100%;
}

.side-images img{
  width: 100%;
  transform: rotate(10deg);
}

.upload-area-heading {
  width: 50%;
}

.upload-area-heading h1 span{
  color: orange;
}

.upload-head h1{
  font-family: Montserrat;
  text-align: center;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

.upload-area-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 5rem;
  margin-bottom: -12rem;
  border-radius: 1rem;  
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height: 15rem;
  width: 30rem;
}

.uploaded-images {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.choice-input {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-classname {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.file-upload-tag {
  /* background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(74, 74, 231);
  color: white;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s; */
}

.file-upload-tag:hover {
  /* transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
  background: none;
  color: rgb(74, 74, 231);
  font-weight: bold; */
}

.image-display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
}

.image-display img{
  height: 15rem;
  width: 15rem;
  text-align: center;
}

.image-mapped {
  padding: 0;
  margin: 0;
  /* padding-left: 2rem; */
  width: 50%;
  text-align: center;
}

.image-td img{
  width: 50%;
  height: 50%;
  padding-bottom: 2rem;
  /* margin-left: 25%; */
}

.links-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.video-links {
  width: 50%;
}

.article-links {
  width: 50%;
}

tr, td, th{
  border: 1px solid black;
  /* text-align: left; */
  padding: 1rem;
  text-align: center;
}

.table-div {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 90%;
  display: none;
}

.video-td{
  width: 25%;
  text-align: center;
}

.article-td{
  width: 25%;
}

.image-td {
  width: 50%;
  text-align: center;
}